body {
    margin: 0;
    line-height: normal;
   
}
.abmsg{
    position: relative;
    top: -260px;
}

.component-46-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #10305e;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25);
}
.about-suiit-burla {
    position: absolute;
    top: 3.46%;
    left: 4.52%;
    right: 0%;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #21a7d0;
}
.welcome-to-suiit {
    position: absolute;
    height: 5.33%;
    width: 92.9%;
    top: 10.12%;
    left: 2.29%;
    line-height: 24px;
    display: inline-block;
}
.burla {
    position: absolute;
    top: 15.45%;
    left: 7.52%;
    line-height: 24px;
}
.sambalpur-university-institute {
    position: absolute;
    height: 60.32%;
    width: 91.48%;
    top: 22.9%;
    left: 3.81%;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    font-family: 'Open Sans';
    display: inline-block;
}
.component-46 {
    position: absolute;
    top: 25px;
    left: 30px;
    right: 0px;
    width: 420px;
    height: 749px;
    text-align: center;
    font-size: 43px;
    color: #fff;
}
.message-child {
    position: absolute;
    top: 510px;
    left: 470px;
    background-color: #f3f8f9;
    width: 1044px;
    height: 262px;
}
.to-enlighten-the {
    position: absolute;
    top: 665px;
    left: calc(52% - 283.5px);
    line-height: 20.5px;
    font-family: 'Open Sans';
    display: inline-block;
    width: 1024px;
    height: 97px;
}
.group-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
}

.fluentarrow-growth-24-filled-icon {
    position: absolute;
    height: 82px;
    width: 85.15%;
    top: 7.32%;
    right: 25.96%;
    bottom: 43.4%;
    left: 8.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.rectangle-parent {
    position: absolute;
    height: 70px;
    width: 80px;
    top: 0%;
    right: 73.33%;
    bottom: 0%;
    left: 0%;
}

.material-symbolsrocket-launch-icon {
    position: absolute;
    height: 82px;
    width: 85.15%;
    top: 7.32%;
    right: 26.92%;
    bottom: 43.4%;
    left: 8.92%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.rectangle-group {
    position: absolute;
    height: 70px;
    width: 80px;
    top: 0%;
    right: 36.41%;
    bottom: 0%;
    left: 30.92%;
}

.rectangle-container {
    position: absolute;
    height: 70px;
    width: 80px;
    top: 0%;
    right: -0.51%;
    bottom: 0%;
    left: 60.85%;
}
.component-45 {
    position: absolute;
    top: 530px;
    left: 518px;
    width: 390px;
    height: 106px;
    text-align: center;
    font-size: 20px;
    color: #7041f5;
    font-family: Cabin;
}

.suiits-vision {
    position: absolute;
    top: 630px;
    left: calc(52% - 283.5px);
    line-height: 28.5px;
    font-weight: 600;
    font-family: 'Open Sans';
    display: inline-block;
    width: 130px;
    height: 26px;
}
.component-38-child {
    position: relative;
    height: 100%;
    width: 1044px;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #f3f8f9;
}
.prof-bidhu-bhusan {
    position: absolute;
    top: 72.49%;
    left:1%;
    font-size: 25px;
}
.vice-chancellor-sambalpur-uni {
    position: absolute;
    top: 78.53%;
    left: 1%;
    font-weight: 200;
    font-size: 25px;
}
.sambalpur-university-was {
    margin: 0;
    
}
.sambalpur-university-was-container {
    position: absolute;
    height: 72.52%;
    width: 48.35%;
    top: 5.5%;
    left: 282px;
    right: 50%;
    font-size: 18px;
    line-height: 28.5px;
    font-weight: 90;
    font-family: 'Open Sans';
   
}
.whatsapp-image-2023-08-05-at-1 {
    position: absolute;
    top: 26px;
    left: 28px;
    width: 10px;
    height: 10px;
    object-fit: cover;
}
#bit{
    height: 300px;
    width: 250px;
    padding-right: 10px;
}
#bit1{
    height: 300px;
    width: 250px;
    padding-right: 10px;
}
#bit2{
    height: 300px;
    width: 250px;
    padding-right: 10px;
}
.component-38 {
    position: relative;
    width: 100%;
    height: 480px;
}
.whatsapp-image-2023-07-31-at-1 {
    position: absolute;
    width: 235px;
    height: 300px;
    top: 5.5%;
    right: 71.52%;
    bottom: 21.99%;
    left: 1.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.ganeshi-lal {
    position: absolute;
    height: 8.03%;
    width: 21.52%;
    top: 70.49%;
    left: 1%;
  font-size: 27px;
}
.the-governor-of {
    position: absolute;
    height: 38.05%;
    width: 46.35%;
    top: 5.5%;
    left: 18.80%;
    font-size: 18px;
    line-height: 40px;
    font-weight: 90;
    font-family: 'Open Sans';
    display: inline-block;
}
.whatsapp-image-2023-08-05-at-11 {
    position: absolute;
    top: 26px;
    left: 25px;
    width: 235px;
    height: 300px;
    object-fit: cover;
}
.component-38-parent {
    position: relative;
    top: 31px;
    left: 470px;
    width: 100%;
    overflow-x:hidden;

    gap: 18px;
    font-size: 31px;
}
.message {
    position: relative;
    width: 100%;
    height: 787px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Bitter;
}

@media screen and (max-width:900px) {
    .abmsg{
        position: absolute;
        top: 380px;
    }
    .message {
        display: flex;
        flex-direction: column;
       
    }
    .about-suiit-burla {
        position: absolute;
        top: 3.46%;
        left: 4.52%;
        right: 0%;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        color: #21a7d0;
    }
    .welcome-to-suiit {
       font-size: 30px;
    }
    .burla {
        position: absolute;
        left: 40.52%;
        font-size: 30px;
    }
    .sambalpur-university-institute {
        position: relative;
        height: 60.32%;
        width: 91.48%;
        top: 22.9%;
        left: 0.81%;
        font-size: 15px;
        line-height: 28px;
        font-weight: 600;
        font-family: 'Open Sans';
        display: inline-block;
    }
    .component-46 {
        position: absolute;
        top: 25px;
        left: 30px;
        right: 2px;
        width: 420px;
        height: 600px;
        text-align: center;
        font-size: 43px;
        color: #fff;
    }
    .caes{
        position: relative;
        top: 600px;
        left: -400pxpx;

    }
    .sja{
        position: relative;
        top: 600px;
        left: 0px;
    }
    .component-38-parent {
        position: relative;
        top: 31px;
        left: 0px;
        width: 100%;
        font-size: 31px;
    }
    .component-38{
        height: 300px;
    }
    .prof-bidhu-bhusan {
        position: absolute;
        top: 55.45%;
        left: 3px;
        font-size: 15px;
    }
    .vice-chancellor-sambalpur-uni {
        position: absolute;
        top: 62%;
        left: 3px;
        font-size: 14px;
    }
   
    .sambalpur-university-was-container {
        position: absolute;
        width: 367px;
        top: 2.5%;
        left: 113px;
       
        font-size: 10px;
        line-height: 14.5px;
        font-weight: 90;
        font-family: 'Open Sans';
       
    }
    .whatsapp-image-2023-08-05-at-1 {
        position: absolute;
        top: 15px;
        left: 10px;
    }
    #bit{
        height: 130px;
        width: 100px;
        padding-right: 5px;
    }
    #bit1{
        height: 130px;
        width: 100px;
        padding-right: 5px;
    }
    #bit2{
        height: 130px;
        width: 100px;
        padding-right: 5px;
    }
    .whatsapp-image-2023-07-31-at-1 {
        position: absolute;
        top: 15px;
        left: 10px;
        
    }
    .ganeshi-lal {
        position: absolute;
        top: 53.45%;
        left: 3px;
        font-size: 18px;
    }
    .the-governor-of {
        position: absolute;
        width: 340px;
        top: 2.5%;
        left: 115px;
        font-size: 13px;
        line-height: 18.5px;
        font-weight: 90;
    }
    .whatsapp-image-2023-08-05-at-11 {
        position: absolute;
        top: 15px;
        left: 10px;
        
    }



    .component-45 {
        position: absolute;
        left: 2px;
        top: 360px;
    }
    .suiits-vision {
        position: absolute;
        left: 5px;
        top:450px;
        font-size: 13px;
    }
    .message-child {
        position: absolute;
        left: 2px;
        top: 336px;
        background-color: #f3f8f9;
        width: 100%;
        height: 265px;
    }
    .to-enlighten-the {
        position: absolute;
        text-wrap: wrap;
        left: 5px;
        top: 480px;
        font-size: 11px;
        width: 477px;
    }
    .rectangle-group {
        position: absolute;
        height: 65px;
        width: 70px;
        
    }
    
    .rectangle-container {
        position: absolute;
        height: 65px;
        width: 70px;
    }
    .rectangle-parent {
        position: absolute;
        height: 65px;
        width: 70px;
    }
    .fluentarrow-growth-24-filled-icon {
        position: absolute;
        height: 70px;
        width: 82.15%;
        
    }
    .material-symbolsrocket-launch-icon {
        position: absolute;
        height: 70px;
        width: 82.15%;
    }
    
}